.header {
  width: 100%;
  height: 4rem;

  background-color: var(--headerBackgroundColor);

  transition: background-color 0.25s;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.resumeLink {
  color: var(--textColor);

  &:visited {
    color: var(--textColor);
  }
}
